		.img-center{
			text-align: center;
			padding-left: 36%;
		}

		@media screen and (max-width: 1050px)
		{
			.img-cnenter{
				width: 350px;
				height: 90px;
			}
		}
		@media screen and (min-width: 1500px)
		{
			.img-cnenter{
				width: 350px;
				height: 90px;
			}
		}
		@media screen and (min-width: 1750px)
		{
			.img-cnenter{
				width: 350px;
				height: 90px;
			}
		}